
.canvas1 {
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: var(--bgc);
}

.sidebar {
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.sidebar_prime {
    margin-left: 50px;
}

.amz_aff {
    margin-top: 50px;
}

.amz_aff ul li {
    margin-bottom: 10px;
}

.sidebar a {
    margin-bottom: 40px;
    border-style: solid;
    border-color: var(--txt);
    color: var(--txt);
    text-align: center;
    cursor: pointer;
    background-color: var(--b1);
    transition: background-color var(--ani);
}

.sidebar a:hover{
    background-color: var(--ac);
}

.title1 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.title1 h1{
    font-family: Cascadia Code;
    background-color: var(--b1);
    border-style: solid;
    padding: 10px;
}

.note1 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.note1 h3{
    display: inline-block;
    font-family: Cascadia Code;
    background-color: var(--b1);
    border-style: solid;
    padding: 10px;
    text-align: center;
}

