
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 16rem minmax(0, 1fr);
    background-color: var(--bgc);
    color: var(--txt);
    font-family: Questrial;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainNv {
    min-height: 100vh;
    padding: var(--pdn);
    background-color: var(--b1);
}

.hamburgerBtn {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
    transition: background-color var(--ani);
}

.hamburgerBtn span {
    display: block;
    width: 3em;
    height: 0.25em;
    background-color: var(--txt);
    border-radius: 999px;
    transition: background-color var(--ani);
}

.hamburgerBtn:hover span{
    background-color: var(--bgc);
}

.hamburgerBtn:active span{
    background-color: var(--bgc);
}

.navLst {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
    padding: 0;
}

.navLst li a {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 0.75em 0.75em;
    transition: background-color var(--ani), color var(--ani), transform var(--ani);
    border-radius: 0.2em;
    cursor: pointer;
}

.navLst li a:hover {
    background-color: var(--sc);
    color: var(--bgc);
}

.navLst li a:active {
    background-color: var(--ac);
    transform: translateX(0.2rem);
}

.navLst li a.selectedNav {
    background-color: var(--ac);
    color: var(--bgc);
}

.navLst li a.selectedNav:hover {
    background-color: var(--ac);
}

.navLst li a img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--rn);
}

.navLst li a span {
    font-weight: 600;
    font-size: var(--fsb);
}

main {
    min-height: 100vh;
    width: 100%;
}

.mainHead {
    display: flex;
    align-items: center;
}

h1 {
    flex: 1;
    text-align: center;
    font-family: Cascadia Code;
}

.profMenu {
    display: inline-block;
    position: relative;
}

.setBtn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--pdn);
}

.setBtn img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 999px;
}

.profMenu > div {
    position: absolute;
    top: calc(100% + 0.5em);
    right: 0;
    width: 12rem;
    border: solid;
    border-radius: 0.5em;
    padding: 0.25em;
    background-color: var(--b1);
}

.setOptsLst {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.setOptsLst li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0.75em 0.5em;
    border-radius: 0.2em;
    transition: background-color var(--ani);
}

.setOptsLst li label:hover {
    background-color: var(--sc);
    color: var(--bgc);
}

footer {
    display: flex;
    flex-direction: row-reverse;
}

footer p {
    padding: var(--pds) var(--pdn);
    margin-right: 2rem;
}

footer p a {
    color: var(--sc);
}
