
.costStatsAndResultBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 2rem;
    gap: 2rem;
}

.costFlst, .resultConsole {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--pds);
}

.costFlst, .statFlst {
    background-color: var(--b1);
}

.costSlct, .mainStatSlct{
    background-color: var(--bgc);
}

.costSlct.hasVal, .mainStatSlct.hasVal {
    color: var(--acTxt);
}

.costAndMainStatCont {
    background-color: var(--b2);
    display: grid;
    grid-template-columns: 7rem 1fr;
    padding: var(--pdn);
    border-radius: var(--rs);
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.statInp {
    background-color: var(--bgc);
}

.statInp.hasVal {
    color: var(--acTxt);
}

.statFlst {
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-items: center;
    padding: var(--pds);
    gap: 1rem;
}

.statFlst > label {
    text-align: center;
    padding: var(--pds) var(--pdn);
}

.buildSubBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
