
.echoAndResultBlock {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}

.echoBlock, .resultConsole {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--pds);
}

.echoDetailsFlst {
    background-color: var(--b1);
}

.statsBlock {
    display: grid;
    grid-template-columns: 7rem 3fr 1fr;
    align-items: center;
    column-gap: 1rem;
    padding: var(--pds) var(--pdn);
}

.statsBlock > label {
    font-size: var(--fsb);
}

.statNameSlct, .statValueSlct {
    background-color: var(--bgc);
}

.statNameSlct.hasVal, .statValueSlct.hasVal {
    font-weight: 600;
    color: var(--sc);
}

.subBtn {
    margin-top: 0.5rem;
    padding: var(--pds) var(--pdn);
    border: 3px solid var(--txt);
    font-size: var(--fsb);
}

@media (max-width: 900px) {
  .echoAndResultBlock {
    grid-template-columns: 1fr;
  }
  .resultConsole {
    min-width: 0;
    width: 100%;
  }
}
