:root.dark-mode {
    --bgc: hsl(0, 0%, 5%);
    --b1: hsl(0, 0%, 10%);
    --b2: hsl(0, 0%, 15%);
    --ac: #2323ff;
    --sc: #9BB0FF;
    --txt: hsl(0, 0%, 95%);
    --ani: 0.16s;
}

:root {
    --bgc: hsl(0, 0%, 96%);
    --b1: hsl(0, 0%, 92%);
    --b2: hsl(0, 0%, 84%);
    --ac: #9BB0FF;
    --sc: #2323ff;
    --txt: hsl(0, 0%, 5%);
    --ani: 0.16s;
}
