
:root {
    --bgc: hsl(0, 0%, 4%);
    --b1: hsl(0, 0%, 8%);
    --b2: hsl(0, 0%, 12%);
    --txt: hsl(0, 0%, 96%);
    /* --ac: color-mix(in srgb, var(--txt), hsl(240, 66%, 50%) 80%);
    --sc: color-mix(in srgb, var(--txt), hsl(240, 66%, 50%) 80%); */
    --ac: #0267C1;
    --sc: #A6E1FA;
    --acTxt: #A6E1FA;
    --scTxt: #0267C1;
    --ani: 0.16s;
    --rn: 0.5rem;
    --rs: 0.25rem;
    --rl: 0.75rem;
    --pdn: 1em;
    --pds: 0.5em;
    --pdl: 1.5em;
    --bs: 1px solid color-mix(in srgb, var(--txt) 16%, transparent);
    --bm: 2px solid color-mix(in srgb, var(--txt) 16%, transparent);
    --fsl: 1.5rem;
    --fsb: 1.125rem;
}

:root.lightMode {
    --bgc: hsl(0, 0%, 96%);
    --b1: hsl(0, 0%, 92%);
    --b2: hsl(0, 0%, 88%);
    --txt: hsl(0, 0%, 4%);
    --ac: #A6E1FA;
    --sc: #0267C1;
    --acTxt: #A6E1FA;
    --scTxt: #0267C1;
    --bs: 1px solid color-mix(in srgb, var(--txt) 32%, transparent);
    --bm: 2px solid color-mix(in srgb, var(--txt) 32%, transparent);
}

:root.aero{
    --acTxt: #2A7221;
    --scTxt: #a0e88e;
}

:root.electro{
    --acTxt: #6457A6;
    --scTxt: #ddc9ff;
}

:root.fusion{
    --acTxt: #a44200;
    --scTxt: #ffb775;
}

:root.glacio{
    --acTxt: #00265a;
    --scTxt: #4381c1;
}

:root.havoc{
    --acTxt: #832161;
    --scTxt: #ffacea;
}

:root.spectro{
    --acTxt: #502100;
    --scTxt: #eca72c;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.btn {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border: 0;
    border-radius: var(--rn);
    background: none;
    transition: background-color var(--ani), color var(--ani);
}

.btn:hover {
    background-color: var(--sc);
    color: var(--bgc);
}

.btn:active {
    background-color: var(--ac);
    color: var(--txt);
}

.noLst {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flst {
    border: var(--bs);
    border-radius: var(--rn);
}

.lgd {
    padding: var(--pds) var(--pdn);
    border-radius: 999px;
    border: var(--bs);
    background-color: var(--bgc);
    font-weight: 600;
}

.charPortrait {
    width: 4rem;
    height: 4rem;
    border-radius: var(--rn);
}

.slct, .inp {
    border-radius: var(--rn);
    border: var(--bs);
    font-family: inherit;
    font-size: inherit;
    padding: var(--pdn) var(--pdl);
    color: var(--txt);
    transition: border-color var(--ani), background-color var(--ani);
}

.slct:hover, .inp:hover {
    border-color: color-mix(in srgb, var(--sc) 75%, var(--txt) 25%);
}

.slct:focus, .inp:focus {
    outline: none;
    border-color: color-mix(in srgb, var(--ac) 75%, var(--txt) 25%);
}

.resultConsole {
    align-self: start;
    justify-self: center;
    width: min(100%, 37.5rem);
    min-width: 0;
    border: var(--bs);
    background-color: var(--b1);
    border-radius: var(--rn);
    padding: var(--pdn);
    margin-top: 2rem;
}

.resultConsole h3 {
    margin: 0 0 1rem;
    font-family: Cascadia Code;
}

.resultConsole dl {
    margin: 1rem 0 0;
    display: grid;
    gap: 1rem;
}

.resultConsole dl > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--pdn);
    background-color: var(--b2);
    border-radius: var(--rn);
    border: var(--bm);
}

.resultConsole dl > div dt {
    font-size: var(--fsb);
}

.resultVal {
    font-family: Cascadia Code;
    margin: 0 0 0 2rem;
    font-weight: 800;
    font-size: var(--fsl);
}

.textStuff {
    padding: var(--pdn);
    
}
