
:root{
    --bgc: hsl(0, 0%, 5%);
    --b1: hsl(0, 0%, 10%);
    --b2: hsl(0, 0%, 15%);
    --ac: #2323ff;
    --sc: #9BB0FF;
    --txt: hsl(0, 0%, 95%);
    --ani: 0.15s;
}

:root.light-mode{
    --bgc: hsl(0, 0%, 95%);
    --b1: hsl(0, 0%, 90%);
    --b2: hsl(0, 0%, 85%);
    --ac: #9BB0FF;
    --sc: #2323ff;
    --txt: hsl(0, 0%, 5%);
    --ani: 0.15s;
}

a {
  text-decoration: none;
  color: var(--sc);
}

body{
    font-family: Questrial;
    color: var(--txt);
    border-color: var(--txt);
}

.light_dark_toggle{
    padding: 10px;
    cursor: pointer;
    background-color: var(--b1);
    color: var(--txt);
    margin-bottom: 10px;
    border: Solid;
    transition: background-color var(--ani);
    margin-left: 20px;
    font-family: Questrial;
    font-size: 1em;
}

.light_dark_toggle:hover{
    background-color: var(--ac);
}

.BaseConfig {
    display: flex;
    flex-direction: row;
}

.BaseConfig div{
    padding: 10px;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--b1);
}

.BaseConfig div select{
    color: var(--txt);
    background-color: var(--b1);
    font-family: Questrial;
    font-size: 1.17em;
}

.BaseConfig div input{
    color: var(--txt);
    background-color: var(--b1);
    font-family: Questrial;
    font-size: 1.17em;
}

.BaseConfig div label{
    font-family: Questrial;
    font-size: 1.17em;
}

.sub_title{
    padding: 20px;
    text-align: center;
}

.sub_names{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}


.sub_names select{
    color: var(--txt);
    font-family: Questrial;
    font-size: 1.17em;
}

.sub_names label{
    color: var(--txt);
    font-family: Questrial;
    font-size: 1.17em;
}

.sub_sub {
    text-align: center;
    margin-top: 20px;
}

.sub_sub input{
    padding: 10px;
    color: var(--txt);
    border-width: thick;
    border-color: var(--txt);
    font-size: 1.17em;
    font-weight: bold;
    background-color: var(--b1);
    transition: background-color var(--ani);
}

.sub_sub input:hover{
    background-color: var(--ac);
}

.sub_anal div{
    text-align:center;
}

.sub_anal div h2{
    border-style: None;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin-top: 100px;
}

.text_stuff {
    color: var(--txt);
    font-family: Questrial;
    font-size: 1.17em;
}

.art_nav {
    text-align: center;
    margin-top: 50px;
}

.art_nav a button{
    padding: 10px;
    margin-left: 100px;
    color: var(--txt);
    border-width: thick;
    border-color: var(--txt);
    font-size: 1.17em;
    font-weight: bold;
    background-color: var(--b1);
    transition: background-color var(--ani);
}

.art_nav a button:hover{
    background-color: var(--ac);
}