{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block section %}

<section class="textStuff">
    <div>
        <h3>About Project EVC: </h3>
        <ul>
            <li>The Echo Value Calculator (EVC) assigns a precise value on a consistent scale to an Echo and/or an Echo set (build) that reflects its quality and strength – called 
                the Echo/Build Score</li>
            <li>It considers all the factors that practically affect this score – so that the score is robust, reliable, and trustworthy</li>
            <li>The tiers interpret the scores empirically, together making the Echo-grind fun and engaging (especially for players like me who find the ambiguity stifling)</li>
            <li>The EVC is quick and easy to use, and aids on-the-fly decision making for players by being as frictionless as possible, without sacrificing previous goals</li>
        </ul>
    </div>
    <div>
        <h3>About Adverts and Tips: </h3>
        <p>
            The first version of this tool (Echo Value Calculator 1.X) launched on Reddit back in late January. It was a text-based command-line app (.exe, Windows-only). 
            You had to enter one substat at a time (can you imagine!), it was inaccessible to most players and using it felt more like what movies think hacking looks like, rather than 
            a calculator. But its core logic became the backbone of today’s EVC.
        </p>
        <p>
            Between February and early March, I refined the engine and theory behind it. But from that point to the version you see today, I had to learn everything needed to bring 
            it online – HTML, CSS, a bit of JavaScript, Flask, web hosting and much more. All from scratch.
        </p>
        <p>
            This may come as a surprise, but I actually got started on all this NOT in March, but at the start of September, right after my end-of-semester exams. In just seven days, 
            I went from writing my first line of HTML to fully publishing this tool – while working full-time and juggling MANY personal issues. 
        </p>
        <p>
            So why the long gap of more than 6 months? My financial, academic, and personal situations have been tough. I’m a student with significant debt, working full-time during 
            breaks and part-time during semesters to stay afloat. During this period, whenever I played Wuwa, I kept using the (old, text-based, command-line) tool. I thought I’d get 
            bored of it eventually, and I was simply overexcited to see it work so well. Instead, I only kept getting fonder of it until I was using it for every Echo-related decision. 
            Despite its many shortcomings, it was still very fast, reliable, and indispensable for farming.
        </p>
        <p>
            From the evening of my final exam this semester at the very end of August, I used pure passion as fuel to turn the old EVC into this web app you see today. And seeing over 
            50k visits in the first month of publishing this site, and the great feedback and so many kind words from Reddit, made it all worth it! I plan to keep improving EVC – adding 
            better UI, Echo storage capabilities, sorting and ranking tools, more accurate data and so much more!
        </p>
        <p>
            I want to be clear: I am extremely fortunate and thankful for even having a job while studying, and still being able to make enough time to pursue passion projects like this. 
            But reality is that all aspects of my life are currently in hot-water. 
        </p>
        <p>
            That’s why you’ll see ads and an option to donate via Ko-fi. Again, to be VERY explicit: I am COMPLETELY fine without any support, and the website will be too, so don’t feel 
            pressured to tip! However, being a web-dev is literally a full-fledged area-of-knowledge people pursue for years. So, if receiving this support means I can afford to work a 
            few days less each month and direct that time and mental energy to seriously pursue being a web-developer on the side, I will greatly appreciate it. 
        </p>
        <p>
            This is where your support comes in, but only if you can genuinely afford it. Your tips will DIRECTLY help in the developing, improving and maintaining of this project. 
            As for the ads, same thing (except I personally really hate ads so if they bother you just as much, please use an adblocker!). And if nothing, know that just using this website 
            and/or leaving feedback on how it can be improved is already more than enough! 
        </p>
        <p>
            Thanks for your understanding and support – it truly means a lot!
        </p>
    </div>
</section>

{% endblock %}