
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MHS3RZ9B8V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MHS3RZ9B8V');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EVC 3.2{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/echo.css">
    <link rel="stylesheet" type="text/css" href="/css/build.css">
    <link rel="stylesheet" type="text/css" href="/css/full.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Questrial&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body class="canvas1">
    <div class="sidebar">
        <a href="{{url_for('echo')}}" {% if sbs=="echo_b" %} style="background-color: var(--ac);" {% endif %} ><h2>Echo Score</h2></a>
        <a href="{{url_for('build')}}" {% if sbs=="build_b" %} style="background-color: var(--ac);" {% endif %} ><h2>Build Score</h2></a>
        <a href="{{url_for('full')}}" {% if sbs=="full_b" %} style="background-color: var(--ac);" {% endif %}><h2>Full Score</h2></a>
        <a href="{{url_for('instruct')}}" {% if sbs=="inst_b" %} style="background-color: var(--ac);" {% endif %} ><h2>Instructions</h2></a>
        <a href="{{url_for('logs')}}" {% if sbs=="logs_b" %} style="background-color: var(--ac);" {% endif %}><h2>Change Logs</h2></a>
        <a href="{{url_for('reports')}}" {% if sbs=="reports_b" %} style="background-color: var(--ac);" {% endif %}><h2>Reports</h2></a>
        <a href="{{url_for('about')}}" {% if sbs=="about_b" %} style="background-color: var(--ac);" {% endif %}><h2>About</h2></a>
        <a href="{{url_for('contents')}}" {% if sbs=="articles_b" %} style="background-color: var(--ac);" {% endif %}><h2>Articles</h2></a>
    </div>
    <div class="sidebar_prime">
        <section>
        <div class="title1"><h1>Echo Value Calculator 3.2</h1></div>
        <button class="light_dark_toggle" id="ldt">Switch Color Mode</button>
        <div class="note1"><h3>Last patch date: 21.05.2026. In case of any errors or inaccuracies, feel free to <a href="{{url_for('reports')}}">contanct here</a>. </h3></div>
        </section>
        <main>
        {% block body %}
        {% endblock %}
        </main>
        <section>
        <div class="amz_aff">
            <h3 style="color: var(--sc)">Optimize your gaming experience too!</h3>
            <p>Just like your Echoes, your gaming setup could use some changes as well: </p>
            <p style="font-size: 0.9em;">(This page contains affiliate links. As an Amazon Associate, I earn from qualifying purchases. Having these links directly supports this websites with no extra cost to you!)</p>
            <ul>
                <li>
                    <strong>Best Budget Gaming Mouse:</strong><br>6400 DPI Optical Sensor - 5 Programmable Buttons<br><a href="https://amzn.to/3NVStnZ"><u>Razer DeathAdder Essential Gaming Mouse</u></a>
                </li>
                <li>
                    <strong>Best Budget Gaming Keyboard:</strong><br>Mechanical - Hall Effect - Magnetic Switches<br><a href="https://amzn.to/4s0hZ9H"><u>Aula WIN68 HE Mechanical Gaming Keyboard 60%</u></a>
                </li>
                <li>
                    <strong>Best Value Gaming Mouse:</strong><br>Ergonomic - Chroma RGB Lighting - 26K DPI Optical Sensor - 11 Programmable Buttons - Hyperscroll Tilt Wheel<br><a href="https://amzn.to/3PF7afO"><u>Razer Basilisk V3 Gaming Mouse</u></a>
                </li>
                <li>
                    <strong>Best Value Gaming Keyboard:</strong><br>75% - Hot Swappable with Knob - RGB Backlit - Pre-lubed Reaper Switces<br><a href="https://amzn.to/4bVC6Qh"><u>AULA F75 Pro Mechanical Keyboard</u></a>
                </li>
            </ul>
        </div>
        </section>
        <script>
            const ldt=document.getElementById("ldt");
            if (localStorage.getItem("color-mode")==="light"){
                document.documentElement.classList.add("light-mode");
            }
            ldt.addEventListener("click", ()=>{
                document.documentElement.classList.toggle("light-mode");
                if (document.documentElement.classList.contains("light-mode")){
                    localStorage.setItem("color-mode", "light");
                } else {
                    localStorage.setItem("color-mode", "dark");
                }
            });
        </script>
    </div>
    <footer style="grid-column-start: 2; display: flex; flex-direction: row;">
        <p style="margin-left: 25px;"><a href="/privacy">Privacy Policy</a></p>
        <p style="margin-left: 25px;"><a href="/terms">Terms of Service</a></p>
    </footer>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        const root=document.documentElement;
        const ac=getComputedStyle(root).getPropertyValue('--ac').trim();
        const txt=getComputedStyle(root).getPropertyValue('--txt').trim();
        kofiWidgetOverlay.draw('astyutechick', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support Me!',
            'floating-chat.donateButton.background-color': ac,
            'floating-chat.donateButton.text-color': txt
        });
    </script>
</body>
</html>
