<!-- 
  List of variables:

 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}EVC 4.0{% endblock %}</title>
</head>
<body>
  <nav>
    <button type="button"> <!--Hamburger button-->
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul>
      <li><a>
        <span>Img</span>
        <span>Echo Score</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Build Score</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Full Score</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Instructions</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Change Logs</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Reports</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>About</span>
      </a></li>
      <li><a>
        <span>Img</span>
        <span>Articles</span>
      </a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>Echo Value Calculator</h1>
      <div class="profMenu">
        <button type="button">Settings Button</button>
        <div hidden>
          <ul>
            <li>
              <label>
                Dark Mode
                <input type="checkbox" id="dark-mode" name="darkMode" checked>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section>
      {% block section %}
      {% endblock %}
    </section>
    <footer>
      <!--Links to privacy policy, about, contact etc.-->
    </footer>
  </main>
</body>
</html>