{% extends "calcBase.html" %}

{% block calcTitle %}EVC 4.0 - Build Score{% endblock %}

{% block calcHeading %}Build Score{% endblock %}

{% block calcSection %}
<div class = "costStatsAndResultBlock">
  <fieldset class = "flst costFlst">
    <legend class="lgd">Echo Cost Setup</legend>
    <select id = "cost-slct" class="slct costSlct" required>
      <option value="">Select your Echo-Cost setup</option>
      <option value="43311">43311</option>
      <option value="44111">44111</option>
    </select>
    <div class="costAndMainStatCont">
      {% for echo_no in range(1, 6) %}
      <label for="echo-ms-{{echo_no}}">? - Cost Echo: </label>
      <select id="echo-ms-{{echo_no}}" class="slct mainStatSlct" required>
        <option value="">Select your Echo's Main-Stat</option>
      </select>
      {% endfor %}
    </div>
  </fieldset>
  <fieldset class="flst statFlst">
    <legend class="lgd">Enter your Total Echo Stats*</legend>
    {% for stat in echo_data %}
    <label for="{{stat}}">{{stat}}</label>
    <input id="{{stat}}" name="{{stat}}" type="number" inputmode="decimal" step="0.1" class="inp statInp">
    {% endfor %}
  </fieldset>
  <section class="resultConsole">
    <h3>Results</h3>
    <dl>
      <div class="resultDiv scoreDiv"><dt>Score</dt><dd class="resultVal scoreVal">[Your Build Score]</dd></div>
      <div class="resultDiv tierDiv"><dt>Tier</dt><dd class="resultVal tierVal">[Your Build Tier]</dd></div>
    </dl>
    <p>Analysis based on character and score. </p>
  </section>
</div> 
<div class="allBtns">
  <button type="button" class="btn allResetBtn">Reset</button>
  <button type="submit" class="btn allSubBtn">Submit</button>
</div>
{% endblock %}

{% block calcInitScripts %}
<script id="main-stat-data" type="application/json">{{main_stat_data|tojson}}</script>
{% endblock %}

{% block calcScripts %}
<script src="{{url_for('static', filename='js/build.js')}}"></script>
{% endblock %}
