
{% extends "base2.html" %}

{% block title %}{% block calcTitle %}EVC 4.0{% endblock %}{% endblock %}

{% block section %}
<section class="calc">
  <h2>{% block calcHeading %}Calc Heading{% endblock %}</h2>
  <form class="calcForm">
    <fieldset class="flst charDetailsFlst">
      <legend class="lgd">Required details</legend>
      <section class="charSelect">
        <label for="char-search">Character: </label>
        <div class="selectedChar">
          <img src="{{url_for('static', filename='images/Resonator_' ~prev_char.split('(')[0].strip().split(' ')[0].strip()~ '.webp')}}" alt="" class="charPortrait">
          <span>{{prev_char}}</span>
        </div>
        <div class="charMenu">
          <input id="char-search" name="charSearch" type="search" placeholder="Search your character" class="inp charSearchInp">
          <ul class="noLst charOptsLst" hidden>
            {% for char_name in char_data %}
            <li><button type="button" data-char-id="{{char_name}}" class="btn charOptsBtn">
              <img src="{{url_for('static', filename='images/Resonator_' ~char_name.split('(')[0].strip().split(' ')[0].strip()~ '.webp')}}" alt="" class="charPortrait">
              <span>{{char_name}}</span>
            </button></li>
            {% endfor %}
          </ul>
        </div>
        <input type="hidden" id="char-select" name="charSelect" required>
      </section>
      <section class="teamSelect">
        <label for="team-select">Team: </label>
        <select id="team-select" name="teamSelect" required class="slct teamSelectSlct">
          <option value="">Select your character's team</option>
          {% for team in teams %}
          <option value="{{team}}">{{team}}</option>
          {% endfor %}
        </select>
      </section>
      <section class="totEr">
        <label for="tot-er">Total ER: </label>
        <input id="tot-er" name="totEr" type="number" inputmode="decimal" placeholder="100.0" step="0.1" required class="inp totErInp">
      </section>
    </fieldset>
    {% block calcSection %}
    {% endblock %}
  </form>
</section>
{% endblock %}

{% block initScripts%}
<script id="char-data" type="application/json">{{char_data|tojson}}</script>
<script>const staticImgPath="{{url_for('static', filename='images/')}}";</script>
<script id="echo-data" type="application/json">{{echo_data|tojson}}</script>
<script id="substat-rolls-data" type="application/json">{{substat_rolls|tojson}}</script>
  {% block calcInitScripts %}
  {% endblock %}
{% endblock%}

{% block scripts %}
<script src="{{url_for('static', filename='js/calcBase.js')}}"></script>
  {% block calcScripts %}
  {% endblock %}
{% endblock %}
