
{% extends "base2.html" %}

{% block title %}{% block calcTitle %}EVC 4.0{% endblock %}{% endblock %}

{% block section %}
<header>
  <h2>Echo Score</h2>
</header>
<form>
  <fieldset class="charDetails">
    <legend>Required Details</legend>
    <section class="charSelect">
      <h3>Character</h3>
      <label for="char-search">Search your character</label>
      <input id="char-search" name="charSearch" type="search" placeholder="Search your character">
      <ul>
        {% for char_name in char_data %}
        <li><button type="button" data-char-id="{{char_name}}" class="btn">
          <span>Img</span>
          <span>{{char_name}}</span>
        </button></li>
        {% endfor %}
      </ul>
      <input type="hidden" id="char-select" name="charSelect" required>
    </section>
    <label for="team-select">Team</label>
    <select id="team-select" name="teamSelect">
      <option value="">Select your character's team</option>
      {% for team in teams %}
      <option value="{{team}}">{{team}}</option>
      {% endfor %}
    </select>
    <section class="totEr">
      <label for="tot-er">Total ER</label>
      <input id="tot-er" name="totEr" type="number" inputmode="decimal" placeholder="100.0" required>    
    </section>
  </fieldset>
  {% block calcSection %}
  {% endblock %}
</form>
{% endblock %}