{% extends "base.html" %}
{% block title %} - Levelling Guide{% endblock %}
{% block section %}
<section class="textStuff">
<h2 id="character-levelling-guide"><strong><u>Character Levelling
Guide</u></strong></h2>
<p>Ever feel the rush of pulling an early 5 star, only to feel the dread
of having to build them?</p>
<p>Or maybe you have a backlog of characters that you wish to build but
never get around to doing it… because either you would rather spend
waveplates to try and fish for better Echoes (dopamine driven), or the
task of investing so much time and energy (or even thinking about
everything that you have to do) seems too daunting (resistance
driven).</p>
<p>There are so many things to level up, so many things to farm, to
finally get your characters “ready.” Here is a list of things you need
to do before you can actually start to play them:</p>
<ul>
<li><p>Level up the character</p></li>
<li><p>Level up their weapon</p></li>
<li><p>Unlock all their Forte nodes</p></li>
<li><p>Level up Forte abilities</p></li>
<li><p>Level up Echoes (passable enough for overworld)</p></li>
<li><p>Optimize Echo substats (till passable enough for ToA)</p></li>
</ul>
<p>The goal of this guide is to provide an optimal way to build your
characters. Here optimal not only means that your characters will be
built in the shortest time possible, but it also means that the
waveplates are being spent as efficiently as possible and your characters
are <strong>playable</strong> without being  fully built as soon as
possible.</p>
<h3 id="character-building-sequence">Character Building Sequence:</h3>
<p>Follow these steps sequentially to level up and start using your
characters as soon as possible:</p>
<ol type="1">
<li><p><strong>Level up your character level (to level 80/80) and weapon
as much as you already can with your current resources</strong>: If you
can take your weapon to level 90 already, great! You can skip to step 3.
Do <strong>not</strong> upgrade your character beyond level 80/80 just
yet especially if you’re short on resources.</p></li>
<li><p><strong>Weapon to Level 90:</strong> In most cases, the return of
investment in weapons is unparallelled as compared to any other type of
upgrades you can do.</p></li>
<li><p><strong>Character to Level 80/80:</strong> Don’t ascend your
character just yet.</p></li>
<li><p><strong>Unlock all Forte Nodes:</strong></p>
<ol type="1">
<li><p>Start by unlocking the <strong>full middle branch</strong>
(inherent Forte skills).</p></li>
<li><p>Then unlock the <strong>entire second level</strong> (1 level
above Forte abilities).</p></li>
<li><p>Then unlock the <strong>side branches fully</strong> (Crit Stats
2 levels above Forte abilities).</p></li>
<li><p>Finally, unlock the remaining nodes (2<sup>nd</sup> and
4<sup>th</sup> branch, second level).</p></li>
</ol></li>
<li><p><strong>Level Forte Talents:</strong> Level up your character’s
main damaging abilities (or main Forte Talents) to <strong>level
8</strong> and secondary (damaging/main) abilities to <strong>level
6</strong>.</p></li>
<li><p><strong>Farm “Base-Level” Echo-set, do NOT min-max yet:</strong>
It’s important to <strong>not</strong> spend too much time in this
stage. Just put any <strong>passable</strong> Echoes without worrying
about substats, or use the EVC to get a score of “Base-Level” or
“Decent” and above. This happens naturally when you start levelling your
pieces, as you inevitably need to level up some Echoes to level 25 to
rule a judgement on them. However, rather than discarding Echoes that
don’t end up being double crit, or unacceptable in other ways, just
equip them for now. Remember that the goal is to have fully levelled
Echoes (even though only 1 or 2 of the 5 Echoes may be worth keeping),
<strong>even if they aren’t great</strong>, at this stage. Your
character is now playable!</p></li>
<li><p><strong>Ascend the Character to 80/90:</strong> Don’t yet level
them up to level 90 just yet, especially if short on shell
credits.</p></li>
<li><p><strong>Max-level your Forte Talents:</strong> Level your main
Forte abilities to level 10, secondary abilities to level 8,
and the rest of the abilities to level 6.</p></li>
<li><p><strong>Farm “Decent” to “Well-Built” Echo-set:</strong> Try to
reach a build score of around 55 to 66. Specifically, you’re trying to
make sure your character has the required amount of ER, and you have 70
or more effective crit rate (generally speaking).</p></li>
<li><p><strong>Level Character to 90/90:</strong> Especially if the
character has the main-DPS role.</p></li>
<li><p><strong>Set Echo grinding goals:</strong> This is the final phase
where you grind for optimized Echo substats. If you have further
characters to build, do <strong>not</strong> get stuck griding endlessly
in this stage. Set a <strong>goal</strong>, and once reached, move on to
the next character. The goal can be in terms of certain crit stats or
any other metric of your choosing, but the EVC scores provide fully
unambiguous assessments and make it very easy to set goals in terms of a
precise build score or build tier.</p></li>
</ol>
<p>Note that after Step 6, you can already start using your character
while you are continuing to upgrade them in the next steps. </p>
</section>
<div class="art_nav">
  <a href="{{url_for('cd')}}"><button>Previous</button></a>
  <a href="{{url_for('contents')}}"><button>Contents</button></a>
  <a href="{{url_for('co')}}"><button>Next</button></a>
</div>
{% endblock %}