
{% extends "calcBase.html" %}

{% block calcTitle %}EVC 4.0 - Echo Score{% endblock %}

{% block calcHeading %}Echo Score{% endblock %}

{% block calcSection %}
<div class="echoAndResultBlock">
  <div class="echoBlock">
    <fieldset class="flst echoDetailsFlst">
      <legend class="lgd">Echo Stats</legend>
      {% for echo_no in range(1, 6) %}
      <div class="statsBlock">
        <label for="stat-name-{{echo_no}}">Echo Line {{echo_no}}: </label>
        <select id="stat-name-{{echo_no}}" name="statName{{echo_no}}" class="slct statNameSlct">
          <option value="noVal">Select Substat</option>
        </select>
        <select id="stat-value-{{echo_no}}" name="statValue{{echo_no}}" class="slct statValueSlct">
          <option value="noVal">Select Value</option>
        </select>
      </div>
      {% endfor %}
    </fieldset>
    <div class="allBtns">
      <button type="button" class="btn allResetBtn">Reset</button>
      <button type="submit" class="btn allSubBtn">Submit</button>
    </div>
  </div>
  <section class="resultConsole">
    <h3>Results</h3>
    <dl>
      <div class="resultDiv scoreDiv"><dt>Score</dt><dd class="resultVal scoreVal">[Your Echo Score]</dd></div>
      <div class="resultDiv tierDiv"><dt>Tier</dt><dd class="resultVal tierVal">[Your Echo Tier]</dd></div>
    </dl>
    <p hidden>Analysis based on character and score. </p>
  </section>
</div>
{% endblock %}

{% block calcInitScripts %}
{% endblock %}

{% block calcScripts %}
<script src="{{url_for('static', filename='js/echo.js')}}"></script>
{% endblock %}
