{% extends "calcBase.html" %}

{% block calcTitle %}EVC4.0 - Echo Score{% endblock %}

{% block calcSection %}
<div class="echoAndResultBlock">
  <div class="echoBlock">
    <fieldset>
      <legend>Echo Stats</legend>
      <div class="statBlock">
        <label for="stat-name-1">Echo Line 1: </label>
        <select id="stat-name-1" name="statName1">
          <option value="">Select Sub-Stat</option>
          <option value="Crit Rate(%)">Crit Rate(%)</option>
          <option value="Atk(%)">Atk(%)</option>
        </select>
        <select id="stat-value-1" name="statValue1">
          <option value="">Select Value of Substat</option>
        </select>
      </div>
      <div class="statBlock">
        <label for="stat-name-2">Echo Line 1: </label>
        <select id="stat-name-2" name="statName2">
          <option value="">Select Sub-Stat</option>
          <option value="Crit Rate(%)">Crit Rate(%)</option>
          <option value="Atk(%)">Atk(%)</option>
        </select>
        <select id="stat-value-2" name="statValue2">
          <option value="">Select Value of Substat</option>
        </select>
      </div>
    </fieldset>
    <button type="Submit" class="btn">Submit</button>
  </div>
  <section class="resultConsole">
    <h3>Results</h3>
    <dl>
      <div><dt>Score</dt><dd>75</dd></div>
      <div><dt>Tier</dt><dd>Well-Built</dd></div>
    </dl>
    <p>Analysis based on character and score. </p>
  </section>
</div>
{% endblock %}