{% extends "base.html" %}
{% block body %}
<div class="text_stuff">
<h1 id="energy-regen-er-static-and-dynamic-values"><strong><u>Energy
Regen (ER) – Static and Dynamic values</u></strong></h1>
<p>Thus far, all the sub stats and calculations have assumed the values
to be <strong>static</strong> values. For example, how good Atk% is on
Carlotta as compared to crit or Skill% <strong>practically does not
change</strong> based on how much Atk%, crit% or Dmg% Carlotta already
has <em>[This is technically not true but is effectively true (or of no
consequence) as long as players fit in the assumptions outlined in the
assumptions section above].</em></p>
<p>ER, however, does not work like the other stats we’ve used thus
far.</p>
<h2 id="why-even-consider-er"><strong>Why even consider
ER?</strong></h2>
<p><em>[ER is <strong>really important</strong>. For some characters
like Carlotta, using liberation every rotation is mandatory to do
majority of her damage. She is <strong>not</strong> a character like
Brant or the Shorekeeper (who value ER even more), and her ER
requirements can be as low as 5% with Zhezhi/Yangyang, or as high as 20
to 25% without them. But regardless, if she does not have this ER, she
may waste enough time to lose her buffs before her final liberation hit,
which is a major chunk of her damage (on top of the increased rotation
time). An Echo that does not recognize ER properly will be
<strong>severely</strong> <strong>undervalued (<u>or overvalued</u>,
which is just as bad)</strong>. For characters with optional bursts like
Jinhsi, this burst is still a significant portion of her damage even if
it is casted every other rotation. For other characters like Camellya,
the burst still does a non-negligible portion of Camellya’s damage but
more importantly, generates concerto that allows her to do her rotations
well]</em>.</p>
<p>ER value <strong>must be accounted for in both achieved and potential
value</strong>. Even if we <strong>trust users</strong> to make sure
that they have an appropriate amount of ER for their characters, the
issue of determining the value of an Echo <strong>is still
unresolved</strong>. For example, in most cases the users will not
<strong>exactly</strong> have the required amount of ER that is
considered safe for a certain character/team/rotation, and even if they
do, what numerical value should be assigned to the ER substat on an
Echo? There may be certain methods to do this, but the problem itself is
too specific and the result <strong>diverges away when applied to
general cases</strong>. It is shown later that even minute differences
of 5% more/less ER can quite significantly impact the Echo Scores
because 5% is still <strong>more than half</strong> the average sub stat
roll for ER – and if ER is a mandatory ability of the character, than
the relative value starts approaching crit.</p>
<h2 id="what-is-the-value-of-er"><strong>What is the value of
ER?</strong></h2>
<p>Since <strong>all the previous values were DPS focused</strong>, it
was easy to adjust them onto the same scale by considering how good they
were relative to each other to do their specific job (of increasing
DPS). ER affects a character’s DPS only indirectly, and are valuable in
other aspects like rotation smoothness and comfort, and hence some
further assumptions need to be made to quantify ER on this scale.</p>
<p><em>[One “scientific” way of determining this (<strong>which is not
used</strong>) would be to consider the amount of unmodified resonance
energy generated by the character in question on field, on average or
per ability, in a certain time-frame. Combining it with the ER they
actually have, it would be possible to convert a point of ER to an
equivalent amount of time in seconds. This can then be used to determine
the DPS lost in a rotation in an ER deficit situation, which can then be
multiplied by the average sub stat value and then converted to the
relative value on our scale. <u>This requires lots of character specific
data, used in non-specific ways, in a not-so-simple calculation and
conversion which has a huge variation range even for a small domain</u>.
Furthermore, this method is also subject to many more considerations and
improvements if considered seriously. As compared to the alternative
method discussed next, this method requires far more effort to increase
the accuracy by an insignificant and negligible amount]</em>.</p>
<h2 id="er-in-achieved-value"><strong>ER in achieved value</strong></h2>
<p>The <em>[alternate, more practical,]</em> method to evaluate ER would
be to assume that the <strong>value</strong> of an average sub stat roll
of ER (9.6%) <strong>is dynamic</strong> (as opposed to static) and
<strong>is equal to the value of the highest relative value of the
average sub stat rolls of all the stats</strong> (which will always be
1) <u><strong>adjusted by how much of that</strong> <strong>ER is being
used/discarded </strong></u>(tentative relative value), and
<u><strong>further adjusted with the</strong> <strong>relative
importance</strong> of ER</u>.</p>
<p>Dynamic means that the initial <strong>tentative</strong> relative
value of ER used, <strong>is changing based on how much ER is already
present</strong>. A new value, <strong>net ER,</strong> is defined to be
the difference between the total ER a build has minus the recommended ER
for the character in the scenario. With this definition, <strong>net ER
is positive if the build has more ER than necessary</strong>. Knowing
the net ER allows us to consider if the ER sub stat roll on an Echo
<strong>is useful, not useful, or precisely how useful</strong>.</p>
<p><strong>If <u>net ER is negative</u>, this means all the ER rolls
from all the Echoes are being used and are valuable (and this still
isn’t enough to reach the target ER). The sub stat roll is divided by ER
median roll just like for other sub stats and instead of a relative
value multiplier, it is multiplied by a relative importance multiplier
(discussed below), thus fully accounting for the ER stat. (The net ER is
then passed for further Echo evaluations, if multiple Echoes or a Build
is being analyzed. This is discussed later).</strong></p>
<p><strong><u>If net ER is zero or positive</u>, the sub stat roll is
subtracted from net ER. If this new net ER value is (still) positive,
all the ER from the echo sub stat is useless and is considered as a dead
or non-useful stat, because the amount of excess ER the character has is
(still) more than the ER from the Echo’s sub stat. (The new net ER value
is passed further if a full Echo build is being processed).</strong></p>
<p><strong>If the prior net ER was positive but <u>becomes negative
after subtracting the ER sub stat roll</u>, this means a portion of the
sub stat roll was useful, and it is exactly equal to the current
negative net ER value (make sure you see why before proceeding). This
value is now considered as the actual sub stat roll and then processed
like normal as described above (consider the meaning of 0 net ER, and
why the process of dealing with positive net ER is the same). (The net
ER is then set to 0 because exactly all the ER that is in excess is
discarded).</strong></p>
<p>When analyzing a full set of Echoes, the net ER value is updated
repeatedly, giving more meaning to the term “dynamic.” For example, if a
character has 140 total ER, and their ER requirements are 125,
<strong>then their net ER is +15</strong>. Let’s say they have three
Echoes with 10% ER each. For the first Echo, <strong>the full 10% ER
must be ignored</strong>, for the second Echo, <strong>only 5% ER from
the 10% sub stat roll is considered</strong>, and for the third Echo,
<strong>the full 10% ER is considered</strong>. Let’s additionally
<u>assume that all these Echoes have the exact same sub stats</u>. For a
character who must use their liberation per rotation and it contributes
a lot to their role (meaning their relative importance multiplier is
high), the difference in the three Echo Scores is very
<strong>significantly different</strong>, <strong>despite having the
exact same sub stat lines!</strong></p>
<p><strong>Relative importance</strong> is a multiplier of ER that
scales down the relative value based on <strong>the consequences of not
using Liberation</strong> (made clear with specifics below), and is
anywhere between 0 and 1, and it itself is a static value.</p>
<p><strong>Both</strong> the dynamic nature and the relative importance
multiplier are required because in practical testing, many Echo scores
produced completely unjustified and unsatisfactory results when ER was
not handled at <strong>least</strong> this thoroughly, <strong>including
the handling of ER in the potential value (next section)</strong>
(again, this is true even for characters where ER is not a big deal like
Carlotta when paired with Zhezhi).</p>
<p>It is possible to be even more thorough as mentioned above, but that
does <strong>not</strong> actually produce results that are noticeably
and/or practically better/more accurate than the once produced with this
method (unless someone using a similar approach figures out a way to
handle this, or is willing to brute force all that research and testing
and data collection for every character).</p>
<p>Therefore, <strong>the</strong> <strong>relative value of ER
is</strong> (one multiplied by) <strong>the dynamic factor</strong>
(that considers the current ER surplus/deficit as above),
<strong>multiplied by the</strong> <strong>importance</strong>
<strong>factor</strong> (that considers DPS loss when the Liberation
button is not pressed).</p>
<h4 id="calculation-examples"><strong>Calculation examples</strong></h4>
<p>-To Be Filled-</p>
<h2 id="er-in-potential-value"><strong>ER in potential
value</strong></h2>
<p>ER has <strong>a huge impact</strong> on an Echo’s Potential value as
well. Remember that Echo’s potential value is the value of the
<strong>top 5 most important stats</strong>, so depending on the
relative values, an Echo’s potential value may change depending upon
whether a character’s 5<sup>th</sup> most useful sub stat has a relative
value higher or lower than <strong>ER’s current potential relative
value</strong>. This value is slightly different than the other ER
values calculated before. When following how this value is calculated in
the next paragraph, remember that <strong>this value is supposed to make
sure that the Echo potential value is truly the “max” potential an Echo
can have</strong>.</p>
<p><strong>If a character’s build has <u>negative net ER</u> (meaning
they don’t have enough ER), the ER amount on the Echo substat is subtracted
from this negative net ER amount (and stored separately as it's only used
temporarily to calculate Value A), and is then divided by
the ER average sub stat roll, which tells us how many average sub stats
away the goal is. If this value (<u>Value A</u>) is less than or equal
to -1, <u>the ER’s potential relative value is (1 multiplied by) the
character’s ER importance multiplier</u> (because the max value a
relative value can take is 1).</strong></p>
<p><strong>If the value (Value A) is greater than -1 (but less than zero
since net ER is negative), <u>than this value (Value A) is multiplied by
-1, and then multiplied by the ER importance multiplier to get the ER
potential relative value</u>. Make sure to understand why this value
represents the amount of average sub stat rolls a character is missing,
and hence represents the ER’s potential relative value.</strong></p>
<p><strong>If <u>net ER is greater than or equal to zero</u>, the ER sub
stat roll is subtracted from this net ER amount. If this value <u>(Value
B)</u> is still positive or zero, the ER potential relative value is 0,
(and the new net ER value (value B) is passed). This one is easy: ER has
no <u>potential</u> for this Echo as the character still has too much
excess ER.</strong></p>
<p><strong>If this value (Value B) is negative, this is the amount of ER
that is potentially valuable. It is multiplied by -1 and then divided by
the average ER sub stat. Now, if this new value <u>(Value C)</u> is
greater than 1, <u>the ER potential relative value is (1 multiplied by)
the ER importance multiplier</u>, because 1 is the max relative value).
The net ER is set to 0, because any more ER sub stat rolls will go
through this same process (from the start of this paragraph) and the
potential of the Echo will only increase just as much as the ER sub stat
roll (which is what we want, since any specific ER for the (next) Echoes
is exactly the specific ER that the build requires!).</strong></p>
<p><strong>Else, this value (Value C) must be in between 0 and -1,
<u>and it is also multiplied by -1 and then the ER importance multiplier
and is now the ER potential relative value</u>, and net ER is set to 0
because all the potential of the ER is accounted for.</strong></p>
<p>Once ER’s potential relative value is calculated, <strong>it can then
be compared with all the other relative values and the five highest
values are added together to finally produce the Echo potential
value</strong>. The calculated ER potential relative value may or may
not be included in the Echo’s potential value, which is another
important reason why it must be calculated.</p>
<h4 id="calculation-examples-1"><strong>Calculation
examples</strong></h4>
<p>-To Be Filled-</p>
<h2 id="from-echo-score-to-build-score"><strong>From Echo Score to Build
Score</strong></h2>
<p>While the build score is simply the average score of the five Echoes
in a set, the <strong>net ER value is tracked between Echoes</strong> as
it determines both the achieved score as well as the echo potential
score as described above.</p>
<p><strong>It could prove quite useful to re-read the above paragraphs
of ER manipulation in both achieved and potential value, <u>not from the
perspective of sub stat rolls or achieved/potential value gains</u>, but
from the perspective of the <u>changes to net ER</u>. In achieved value
section, net ER is there <u>to count every drop of ER that could be
deemed as useful</u>, <u>while disregarding everything else</u>. In the
potential value section, <u>net ER acts as a control valve</u>:
increasing the water flow when the tank is empty, but decreasing it when
its full. Having more negative ER than the average ER sub stat roll
(empty tank) will boost the value of ER to one multiplied by the
importance multiplier. When getting closer and closer to having 0 net ER
(i.e. getting closer to the tank’s capacity), this value is reduced
closer and closer to 0 until eventually, when the tank is overflowing,
all that additional ER sub stat amount (additional water) is
disregarded.</strong></p>
<p>Note that <strong>regardless</strong> of whether an Echo or Build is
being analyzed, ER must be treated as above for correct scores in both
cases.</p>
<p><em>[While this above method is useful when users want to analyze all
aspects of the build (individual Echoes as well as the overall strength
and the weakest links etc.), there is a much easier option for players
who only want an analysis of their overall character without going
through the cumbersome process of inputting all of their 5 echo sub
stats for all their 5 echoes. This is made possible due to Wuthering
Wave’s Echo loadout system! On top of being a super convenient feature,
highly coveted in Gatcha games, it actually also shows the overall stats
a character gets from equipping the loadout. Note that the overall stats
a character gets from their Echo sets is simply the Echo main stats plus
the Echo sub stats, as it doesn’t consider the set effects or any other
benefits (unless I’m mistaken, which jeopardizes this paragraph).
Therefore, we can very conveniently find the sum of all the Echo sub
stats by subtracting the values of Echo main stats from the displayed
amounts, and then treating this as a normal (mega) Echo! The results,
not surprisingly, line-up with a full analysis as above. However, note
that while in 99% of the cases the scores match literally exactly with
the Full Scores or there is a less than 1 point difference, there are
cases when there is a discrepancy of more than 5 points (again this is
very rare and I’ve personally only observed it doing Cartethyia’s Build
analyses]</em>.</p>
</div>
<div class="art_nav">
  <a href="{{url_for('esbs')}}"><button>Previous</button></a>
  <a href="{{url_for('contents')}}"><button>Contents</button></a>
  <a href="{{url_for('cre')}}"><button>Next</button></a>
</div>
{% endblock %}