{% extends "base.html" %}
{% block title %} - Error{% endblock %}

{% block section %}
<section class="textStuff">
    <h2>ERROR: </h2>
    <h3>{{error_msg}}</h3>
    <h4>If the above error is not-expected or cannot be resolved, please forward the above message and, if possible, the data/circumstances that caused it to echovaluecalc@gmail.com</h4>
    <h4>In doing so, you're directly contributing to the improvement and functionality of this website. Thanks a lot for your help in advance!</h4>
</section>
{% endblock %}
