{% extends "base.html" %}

{% block body %}
<div>
    <form method="POST" action="{{url_for('full')}}">
        <div class="BaseConfig">

            <div class="Outro">
                <label for="buff_full">Energy buffs from outros: </label>
                <select name="buff_full">
                    <option value="None" {% if "None"==prev_buff %} selected="selected" {% endif %}>None</option>
                    <option value="Zhezhi" {% if "Zhezhi"==prev_buff %} selected="selected" {% endif %}>Zhezhi</option>
                    <option value="Yangyang" {% if "Yangyang"==prev_buff %} selected="selected" {% endif %}>Yangyang</option>
                </select>
            </div>

            <div class="Char">
                <label for="char_full">Select your character: </label>
                <select name="char_full" onchange="this.form.submit()">
                    {% for char_name in char_data %}
                    <option value="{{char_name}}" {% if char_name==prev_char %} selected="selected" {% endif %}>{{char_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="ER">
                <label for="er_tot_full">Total ER of the build* : </label>
                <input name="er_tot_full" value="{{prev_er}}">
            </div>

        </div>
        <div class="echo_grid">

        {% for echo_no in range(1, 6) %}
            <div class="mecho_in">
                <div class="sub_title"><h2>Echo {{echo_no|string}}</h2></div>

                {% set color_space=namespace(cask="var(--b1)") %}
                {% for stat_name in stat_names %}
                    {% if stat_name!="ER(%)" %}
                        {% if char_data[prev_char][0][(loop.index-1)]!=0.0%}
                            {% if color_space.cask=="var(--b2)" %} {% set color_space.cask="var(--b1)" %} {% else %} {% set color_space.cask="var(--b2)" %} {% endif %}
                        {% endif %}
                    {% else %}
                        {% if char_data[prev_char][1][0]!=0.0%}
                            {% if color_space.cask=="var(--b2)" %} {% set color_space.cask="var(--b1)" %} {% else %} {% set color_space.cask="var(--b2)" %} {% endif %}
                        {% endif %}
                    {% endif %}
                <div class="sub_names" style="background-color: {{color_space.cask}};
                                {% if stat_name!='ER(%)' %}
                                    {% if char_data[prev_char][0][(loop.index-1)]==0.0 %} display: None; {% endif %}
                                {% else %}
                                    {% if char_data[prev_char][1][0]==0.0 or char_data[prev_char][1][0]<=100.0 %} display: None; {% endif %}
                                {% endif %}">
                    <label for="{{stat_name}} {{echo_no}}">{{stat_name}}</label>
                    <select style="background-color: {{color_space.cask}};" name="{{stat_name}} {{echo_no}}">
                        <option value=0.0 {% if stats[echo_no-1][stat_name]==0.0 %} selected {% endif %}>0.0</option>
                        {% for stat_roll in stat_rolls[stat_name]%}
                        <option value={{stat_roll}} {% if stats[echo_no-1][stat_name]|string ==stat_roll|string %} selected {% endif %}>{{stat_roll|string}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}

            </div>
        {% endfor %}

        </div>

        <div class="sub_sub"><input type="submit" value="submit"></div>

    </form>
    <form method="GET" action="{{url_for('full')}}">
        <div class="sub_sub"><input type="submit" value="Reset"></div>
    </form>
    <div class="sub_anal_f">
        <div><h2 {% if (echo_score.split(":")[0])|float>= 88 %} style="background-color: #FFD700; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>=66 %} style="background-color: #FF38AE; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>=44 %} style="background-color: #00E1FF; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>0 %} style="background-color: #69BA18; color: hsl(0, 0%, 0%);" {% else %} style="background-color: var(--ac);" {% endif %} > {{echo_score}}</h2></div>
        <div><h2 {% if (echo_score.split(":")[0])|float>= 88 %} style="background-color: #FFD700; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>=66 %} style="background-color: #FF38AE; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>=44 %} style="background-color: #00E1FF; color: hsl(0, 0%, 0%);" {% elif (echo_score.split(":")[0])|float>0 %} style="background-color: #69BA18; color: hsl(0, 0%, 0%);" {% else %} style="background-color: var(--ac);" {% endif %} > {{echo_tier}}</h2></div>
    </div>
</div>
{% endblock %}
