{% extends "base.html" %}
{% block title %} - Instructions{% endblock %}

{% block section %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/RMrGGoGpmCc?si=_GWkxM8nRV9G44AV&amp;start=361" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<section class="textStuff">
<h2 id="instructions"><strong><u>Instructions</u></strong></h2>
<p><strong>NOTE: </strong>This page will be re-written due to the major update recently, however it is <strong>still fully valid</strong>. The <strong>ONLY</strong> major take-aways are: </p>
<ul>
    <li><p>Select the correct team. If you don't see your specific team scenario, pick the option with "Default" in it. </p></li>
    <li><p>Enter the total ER you see on your character's stat page <strong>after</strong> equipping the correct Weapon <strong>and</strong> equipping the Echo/Build you want to test. </p></li>
    <li><p>For Build Score, remember that the required stats are Echo <strong>PRESET</strong> stats (the ones you see after opening the Echo Preset menu, and highlighting the currrently equipped set). </p></li>
</ul>
<p>If you're okay with these points, there's <strong>no reason to bother with the rest of the page unless purely out of interest</strong>. </p>
<h3 id="general-use-cases"><strong>General use-cases:</strong></h3>
<ul>
<li><p>“<strong>Echo Score</strong>” is used for evaluating an
<u>individual Echo</u>.</p>
<ul>
<li><p>This is especially powerful when <u>comparing</u> between two
Echoes to find upgrades.</p></li>
<li><p><strong>Read the “Echo Score” section below</strong> for specific
instructions regarding this function.</p></li>
</ul></li>
<li><p>“<strong>Full Score</strong>” is used for evaluating your
<u>entire Build</u>: the overall Echo-set as well as the individual
Echoes.</p>
<ul>
<li><p>Especially powerful when gauging the strength of your overall character
to make decisions such as:</p>
<ul>
<li><p>“Are my Echoes for this character good enough?”</p></li>
<li><p>“What are my strongest/weakest characters?”</p></li>
<li><p>“What are my strongest/weakest pieces for this
character?”</p></li>
<li><p>“Should I keep investing in this character?” … and so
on.</p></li>
</ul></li>
<li><p><strong>Read the “Full Score” section below</strong> for specific
instructions regarding this function.</p></li>
</ul></li>
<li><p><strong>“Build Score”</strong> is used for getting a quick evaluation
of your <u>overall build directly</u>.</p>
<ul>
<li><p>This function is useful for similar reasons as “Full
Score,” except it is <u>much quicker and less tedious</u> to use as it doesn’t
evaluate individual echoes one-by-one.</p></li>
<li><p>The accuracy of the build scores is ever so slightly off (by around 1
point) in exchange for being quicker to get the analysis of the entire
build. </p></li>
<li><p><strong>Read the “Build Score” section below</strong> for
specific instructions regarding this function.</p></li>
</ul></li>
</ul>
<h3 id="echo-score"><strong>Echo Score:</strong> </h3>
<ul>
<li><p>Make sure that the <u>right character</u> is selected before
entering the substats.</p></li>
<li><p>Make sure that the right team is selected, in which you wish to evalute your character's Echo/Build performance.</p></li>
<li><p>It is very important to enter the “<strong>Total ER of the
build</strong>” correctly, because (along with the character's team) it determines the weight and value of
ER <u>which is very important <strong>even if</strong> your Echo has
<strong>no</strong> ER substat roll</u>!</p></li> 
<li><p>To do this, make sure that your
character is <u>“battle-ready”</u>: they have the correct weapon
equipped and the correct Echoes equipped (even if you are evaluating a
specific Echo). Then open your character stat page and enter the ER
amount you see here.</p></li>
<li><p>(In very special circumstances, like Phrolova’s
Echo-set effect, the stats from the Echo-Set are not reflected until the
character is deployed (i.e. in your current exploration party). However, doing so in some specific areas (like some regions in Lahai-Roi) can artificially boost your ER! However, no
Echo-set related to ER (like Moonlit Clouds) is known to show this kind
of behavior, and hence the ER stats you see on your character's stat page can be safely used even when the character is not deployed.)</p></li>
</ul>
<h3 id="full-score"><strong>Full Score:</strong> </h3>
<ul>
<li><p><strong>In addition to all the points mentioned in the “Echo
Score” section</strong>, note that <strong>ER is handled
smartly</strong> (in all functions), meaning any excess or useless ER, 
beyond the target comfortable ER amount recommended for your character, is
discarded automatically. This happens <strong>first</strong>: meaning the additional ER amount is continuously ignored when processing Echoes from left to right, until the excess is accounted for. 
Additionally, how much weight and value, that is
placed on your ER, depends on 1. If you have <u>more or less</u> ER than
the recommended amount and 2. Exactly <u>how much</u> more/less ER you
have than the recommended amount. If you build has excess ER, for
example, then the calculator will keep ignoring ER until <u>exactly</u>
all the excess ER is accounted for. This means certain Echoes’ Echo
Score may be different than the Echo’s Score as evaluated by the Full
Score function.</p>
<ul>
</ul></li>
</ul>
<h3 id="build-score"><strong>Build Score</strong></h3>
<ul>
<li><p><strong>In addition to all the points mentioned in the “Echo
Score”</strong> section, make sure you’ve selected the correct Echo
setup (43311 vs 44111).</p></li>
<li><p>Then select the main stats of your Echoes in your build.</p></li>
<li><p>Open your character page in the game (by pressing C and going on
your character) and go on the Echoes section (3<sup>rd</sup> option on
the left). Then open the Echo-<strong>Preset</strong> option (first option at the
bottom-right). <strong><u>The stat numbers shown here are the ones you
need to enter</u></strong> in the given fields.</p></li>
</ul>
<h3 id="tiers-and-their-meaning"><strong>Tiers and their
meaning:</strong></h3>
<ul>
<li><p><strong>God Tier (Score ≥ 99):</strong></p>
<ul>
<li><p>An insane score for an Echo. If standard Gatcha terms are used,
this Echo is a 6-start piece! It’s like this Echo scored full marks on a
test but also answered all the bonus questions correctly. It’s beyond
perfect.</p></li>
<li><p>An impossible score for a Build. There is a glitch in the Matrix
if your build score is in this tier. Practically no amount of good luck
and/or investment is going to help you reach this tier. This is the
“One-Piece.”</p></li>
</ul></li>
<li><p><strong>Extreme Tier (99 &gt; Score ≥ 88):</strong></p>
<ul>
<li><p>Perfect Echo Score, for all intents and purposes.</p></li>
<li><p>Mythic Build Score. Lots of Luck and/or Investment is needed to
reach this tier. And even that may not be enough.</p></li>
</ul></li>
<li><p><strong>High-Investment Tier (88 &gt; Score ≥ 77):</strong></p>
<ul>
<li><p>Self-explanatory. A good target for all the “mains” of this
character.</p></li>
</ul></li>
<li><p><strong>Well-Built Tier (77 &gt; Score ≥ 66):</strong></p>
<ul>
<li><p>Self-explanatory. This is the minimum level of investment
recommended for the characters used in the 3<sup>rd</sup> and
4<sup>th</sup> floors of the middle tower in the ToA.</p></li>
</ul></li>
<li><p><strong>Decent Tier (66 &gt; Score ≥ 55):</strong></p>
<ul>
<li><p>Self-explanatory. This is the minimum level of investment
recommended for the characters used in the 1<sup>st</sup> and
2<sup>nd</sup> floor of the middle tower, as well as the 4<sup>th</sup>
floors of the side towers, of the ToA.</p></li>
</ul></li>
<li><p><strong>Base Tier (55 &gt; Score ≥ 44):</strong></p>
<ul>
<li><p>The expected Echo/Build Scores of your first, newly farmed,
Echoes for a character. If the Echo/Build Scores are lower than this,
you may be wasting resources by upgrading Echoes that are very evidently
not worth upgrading.</p></li>
</ul></li>
<li><p><strong>Unbuilt Tier (Score &lt; 44):</strong></p>
<ul>
<li><p>Where’s that Echo coming from…</p></li>
</ul></li>
</ul>
</section>
{% endblock %}
