{% extends "base.html" %}
{% block title %} - Logs{% endblock %}


{% block section %}
<section class="textStuff">
    <div>
        <h3>Change Log: </h3>
    </div>
    <div>
        <h3>07.06.2026</h3>
        <ul>
            <li>Function: Fixed a bug where more ER was being ignored than intended when having surplus. </li>
        </ul>
    </div>
    <div>
        <h3>06.06.2026</h3>
        <ul>
            <li>Data: Removed "Yangyang Outro" from teams to avoid overcrowding the team select. </li>
            <li>Data: Removed "Zhezhi Outro" from teams for characters that don't use Zhezhi. </li>
            <li>Data: ER target is now a range (above the ER target) instead of a specific target value, in order to not punish players who reach their ER targets even though it may not be a comfortable amount. </li>
            <li>Data: Major change to Aemaeth's character data due to improved tune-rupture/fusion-burst mechanic calculations. Expect noticable changes in previously calculated results. </li>
            <li>Data: Very minor changes to Chisa, Hiyuki, Lynae and Mornye. Unnoticable/very small. </li>
        </ul>
    </div>
    <div>
        <h3>03.06.2026</h3>
        <ul>
            <li>Function: Added more team options for many characters. Made selecting teams more expansive to avoid confusion. </li>
            <li>QoL: Added Helper Buttons to make using the calculator explicitly clear without needing to use the Instructions Page. </li>
            <li>QoL: Better placeholder texts. </li>
            <li>QoL: Rather than clearing values, input fields now highlight them, preserving the ability to power-use while preventing accidental clearing of the fields. </li>
        </ul>
    </div>
    <div>
        <h3>01.06.2026</h3>
        <ul>
            <li>Logic: Fixed an extremely niche bug affecting Defense scaling characters with a 44111 echo cost setup when using the Build Score Calculator. </li>
            <li>Display: Character Data now represents the "Target Comfortable ER" (used directly by the EVC for calculations) rather than the "Target ER". </li>
            <li>Visuals: Several structure related improvements. </li>
        </ul>
    </div>
    <div>
        <h3>30.05.2026</h3>
        <ul>
            <li>Function: Fixed issues with error messages and greatly improved error message quality. Major thanks to <strong>u/GoXDS</strong> for reporting this bug!</li>
            <li>Function: Added "Pure Support" variations for Mornye and Shorekeeper. Slightly adjusted Mornye's data. </li>
        </ul>
    </div>
    <div>
        <h3>28.05.2026</h3>
        <ul>
            <li>EVC 4.0 is here! Major changes to front-end systems. No changes to backend systems. </li>
            <li>Finalized Denia's data</li>
        </ul>
    </div>
    <div>
        <h3>21.05.2026</h3>
        <ul>
            <li>Function: Added Denia (Tentative). </li>
            <li>Finalized Hiyuki's data. No changes were required. </li>
        </ul>
    </div>
    <div>
        <h4>01.05.2026</h4>
        <ul>
            <li>Function: Added Hiyuki (Tentative). </li>
        </ul>
    </div>
    <div>
        <h4>26.03.2026</h4>
        <ul>
            <li>Function: Added Sigrika. </li>
        </ul>
    </div>
    <div>
        <h4>07.03.2026</h4>
        <ul>
            <li>Function: Added Luuk Herssen. </li>
            <li>Function: Lowered Lupa's ER requirements - the niche teams were affecting the teams played in the overwhelming majority. </li>
        </ul>
    </div>
    <div>
        <h4>19.02.2026</h4>
        <ul>
            <li>Function: Adjusted Aemeath's target comfortable ER from 128.1 to 120.0, as the former is only required in highly uncommon and niche teams. </li>
        </ul>
    </div>
    <div>
        <h4>14.02.2026</h4>
        <ul>
            <li>Function: Finalized Aemeath's data. No changes were made. </li>
            <li>Function: Slightly adjusted the comfortable ER margins for some characters. </li>
            <li>Function: Character Data page now updates correctly with all the up-to-date character data. </li>
        </ul>
    </div>
    <div>
        <h4>08.02.2026</h4>
        <ul>
            <li>Function: Added Aemeath (tentative). The story was so good I completely forgot to add this earlier. </li>
        </ul>
    </div>
    <div>
        <h4>30.01.2026</h4>
        <ul>
            <li>Function: Added a hidden feature for Full Score where Echoes with ER are processed first while keeping the order of the displayed output intact, as entererd by the users. <br>The Full Score processing order is now: Echoes with ER from left to right, then the remaining Echoes, from left to right. </li>
            <li>Function: Added an Error page - now Errors like entering unplausible stats in Build Score or entering too many substats in Echo Score or Full Score display the errors without giving the dark-mode users a flash-bang. </li>
        </ul>
    </div>
    <div>
        <h4>20.01.2026</h4>
        <ul>
            <li>MAJOR BUG FIX: The EVC now correctly evaluates cases when the total ER entered is slightly less than the target ER of the character. Major thanks to <strong>u/ZeForgottenPenguinxd</strong> for catching and reporting this bug!</li>
            <li>Function: Did maintainance on Character Data to keep it up-to-date. </li>
            <li>NOTE: In order to keep the previously calculated scores relevant and the EVC useful, this kind of large-scale data maintainance will only be done once every six months or so. Please check the character data page to check and/or report any inconsistancies and/or mistakes. </li>
        </ul>
    </div>
    <div>
        <h4>15.01.2026</h4>
        <ul>
            <li>Function: Finalized Lynae. </li>
            <li>Function: Added Mornye and Buling (I forgot to add her last patch, for some unkown reason). </li>
        </ul>
    </div>
    <div>
        <h4>29.12.2025</h4>
        <ul>
            <li>Function: Added Lynae (Tentative). </li>
        </ul>
    </div>
    <div>
        <h4>14.12.2025</h4>
        <ul>
            <li>Function: Finalized Chisa's data. </li>
            <li>Function: Updated Main DPS Iuno's data to reflect her non-reliance on ER. </li>
        </ul>
    </div>
    <div>
        <h4>02.12.2025</h4>
        <ul>
            <li>Content: Added Articles section with many documents. </li>
        </ul>
    </div>
    <div>
        <h4>30.11.2025</h4>
        <ul>
            <li>Function: Full Score page now remembers previously entered values upon submission. Values can be reset using the Reset button. </li>
            <li>Function: "Switch Color Mode" button now remembers the color-mode picked. </li>
        </ul>
    </div>
    <div>
        <h4>20.11.2025</h4>
        <ul>
            <li>Function: Added Chisa (tentative), Qiuyuan and finalized Galbrena. </li>
        </ul>
    </div>
    <div>
        <h4>14.10.2025</h4>
        <ul>
            <li>Function: Added adverts and Ko-fi to support the project. </li>
            <li>Details: Added an About Page</li>
        </ul>
    </div>
    <div>
        <h4>13.10.2025</h4>
        <ul>
            <li>Function: Tentative Galbrena data added. </li>
        </ul>
    </div>
    <div>
        <h4>06.10.2025</h4>
        <ul>
            <li>Function: Iuno data finalized. Iuno and Phoebe now have main and sub dps versions. </li>
        </ul>
    </div>
    <div>
        <h4>18.09.2025</h4>
        <ul>
            <li>Function: Added Iuno. Her data will be finalized over the next week. </li>
            <li>Logic: ER logic has passed verification and no other logic updates are expected. </li>
        </ul>
    </div>
    <div>
        <h4>17.09.2025</h4>
        <ul>
            <li>Logic: Slight inaccuracies in ER logic were fixed that were causing ER to be valued despite overcapping. There is one final minor logic update expected. </li>
        </ul>
    </div>
    <div>
        <h4>15.09.2025</h4>
        <ul>
            <li>Instructions: Added assumptions in intructions page to better inform players of the meaning of the scores</li>
        </ul>
    </div>
    <div>
        <h4>14.09.2025</h4>
        <ul>
            <li>Function: Added two different Shorekeeper variants for better analysis of her ER</li>
        </ul>
    </div>
    <div>
        <h4>13.09.2025</h4>
        <ul>
            <li>Visuals: Deeper contrast for light and dark mode</li>
            <li>Visuals: Now shows only the relevant stats for each character upon selection for all sections (Echo, Build, Full scores)</li>
            <li>Visuals: Full section now also follows the Gatcha color scheme on the results display, just like Echo and Full scores</li>
            <li>Visuals: Consistent layout setup on all pages - to remove or reduce scrolling when entering data</li>
            <li>Typos: Cleaned up some descriptions and text</li>
            <li>Function: Added a report tab that links to EVC_logs as a comm-line</li>
        </ul>
    </div>
    <div>
        <h4>12.09.2025</h4>
        <ul>
            <li>Function: Fixed a bug with 44111 setup in "Build Score" section, where the input data was incorrectly being marked as incomplete. </li>
        </ul>
    </div>
    <div>
        <h4>11.09.2025</h4>
        <ul>
            <li>Logic: Fixed a bug affecting "Build Score" and "Full Score", which was causing builds to score quite a bit lower than their actual scores in some cases. The "Echo Score" section was not affected and remains unchanged. I apologize for the inconvenience. </li>
        </ul>
    </div>
    <div>
        <h4>10.09.2025</h4>
        <ul>
            <li>Visuals: The current tab stays highlighted on the side-bar to better for clear indication. </li>
            <li>Typo: Ciaccona is now correctly spelled in the Character Select DDM</li>
            <li>Visuals: Character relevant stats are highlighted for Echo and Full score modes (coming soon to Build score, alongside highlighting the stat names as well, not just the values). </li>
        </ul>
    </div>
    <div>
        <h4>09.09.2025</h4>
        <ul>
            <li>Visuals: Echo Score background colors now resemble Gatcha Game tiers: Gold for Godly and Extreme, Purple for High Investment and Well Built, Blue for Decent and Base level, and Green for Unbuilt. </li>
            <li>Visuals: Added Dark Mode (default) and Light Mode toggle. I gave up on picking the right colors after the above change, and it turned out to be for the best (would love any feedback tho^^). I am aware that the mode always goes to default when you switch tabs: I will fix this next alongside tab indications among other things. </li>
        </ul>
    </div>
    <div>
        <h4>08.09.2025</h4>
        <ul>
            <li>Build Score: Fixed an issue where all stats outside of attributes were required to be added to get the Echo Score and analysis. Now it works even if you only add the stats relavent to your character. </li>
        </ul>
    </div>
</section>

{% endblock %}
