{% extends "base.html" %}
{% block title %} - Reports{% endblock %}

{% block section %}
<section class="textStuff">
    <div>
        <h3>Bugs, Suspected Bugs, Feature Requests, and upcoming Features</h3>
        <p>To report and/or keep track of any of the above topics, considering visiting the dedicated subreddit: </p>
        <a href="https://www.reddit.com/r/EVC_logs/"><h3>r/EVC_logs</h3></a>
        <p>Especially for bugs, it would be really really helpful if you can send details to the following email-id: </p>
        <a><h3>echovaluecalc@gmail.com</h3></a>
    </div>
</section>
{% endblock %}
