{% extends "base.html" %}
{% block title %} - Source Code{% endblock %}
{% block section %}
<section class="textStuff">
<h2><strong><u>Source Code</u></strong></h2>
<p>Here is a link to the source code of the calculator: <a href="https://github.com/AstyuteChick/Echo-Value-Calculator">https://github.com/AstyuteChick/Echo-Value-Calculator</a></p>
<p>This python code was meant to be run with the website's code. But if you still try to run this program,
to test your own made-up characters or your own parameters, I've tried to make it so that at least the "Echo Score"
and the "Full Score" functions are still working. </p>
<p>However, as this is not directly relevant to the website, I haven't really tested it. Maybe in the future I will also
make this fully functional and sturdy, if people want it, to create their own characters or maybe change damage profiles of characters
and/to adjust for sequenses and weapons and stuff like that. </p>
</section>
<div class="art_nav">
<a href="{{url_for('rc')}}"><button>Previous</button></a>
<a href="{{url_for('contents')}}"><button>Contents</button></a>
{% endblock %}