{% extends "base.html" %}

{% block section %}
<section class="textStuff">
<div>
    <h3>Terms of Service</h3>
</div>
<div>
    <p>Welcome to the Echo Value Calculator! By using this website, you agree to the following terms:</p>
    <ul>
        <li>This tool simply helps in estimating an Echo's value. It's not official and the results are meant to be used for fun and for guidance only. </li>
        <li>No personal data is collected and no account is required to use the website. Basic anonymous traffic stats may be recorded by the hosting service. </li>
        <li>Everything here is provided as-is: accuracy, reliability and suitability are subject to interpretation by the users from the documentations provided in the articles sections. </li>
        <li>All Wuthering Waves content belongs to Kuro Games - this site is just a fan-made project for the community. </li>
        <li>If anything changes, this page will be updated. </li>
    </ul>
    <p>That's it. Thanks for checking out the tool, and I hope you found it fun and useful! </p>
</div>
</section>
{% endblock %}
